name: Publish on PyPI
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade build twine
    - name: Build
      run: |
        python -m build
    - name: Upload
      uses: pypa/gh-action-pypi-publish@v1.13.0
      with:
        password: ${{ secrets.PYPI_TOKEN }}
