name: Windows
on:
- pull_request
- push
jobs:
  tests:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade tox codecov
      - name: Run tests
        run: tox -e py
      - name: Publish coverage data
        uses: codecov/codecov-action@v5
